{% extends "layout.html" %} {% block content %}
<h3>Hi {{ user.get_display_name() }}</h3>

{% if form %}
<section>
  <h5>Write some things to post!</h5>
  <form action="" method="post" novalidate>
    {{ form.hidden_tag() }} {{ form.content.label }}<br />
    {{ form.content(cols=50, rows=5) }}<br />
    {{ form.submit() }}
  </form>
</section>
{% endif %}
<hr />
<section class="posts">
  <div id="posts-list"></div>

  <div id="loading-indicator" class="loading-indicator hidden">
    Loading more posts...
  </div>

  <div id="end-of-content" class="end-of-content hidden">
    You've reached the end of the content.
  </div>

  <nav id="pagination-bar" class="hidden"></nav>
</section>
{% endblock %} {% block scripts %}
<script>
  const PER_PAGE = "{{ fetch_data_info.per_page }}";
  const PAGINATION_TYPE = "{{ fetch_data_info.pagination_type }}";
  const SEARCH_CONDITION = "{{ fetch_data_info.search_condition }}";
  const USER_ID = null;
</script>
<script src="{{ url_for('static', filename='js/load_posts.js') }}"></script>
{% endblock %}
