{% extends "layout.html" %}
{% import "form_macro.html" as form_macro %}
{% block content %}
<h3 class="mb-4">{{ _("Hi") }} {{ user.get_display_name() }}</h3>

{% if form %}
<section class="mb-5">
  <h5 class="mb-3">{{ _("Write some things to post!") }}</h5>
  {{ form_macro.quick_form(form) }}
</section>
{% endif %}
<section class="posts mb-5"">
  <div id="posts-list"></div>
  {% include "_pagination.html" %}
</section>
{% endblock content %}
{% block scripts %}
<script>
  const PER_PAGE = "{{ fetch_data_info.per_page }}";
  const PAGINATION_TYPE = "{{ fetch_data_info.pagination_type }}";
  const SEARCH_CONDITION = "{{ fetch_data_info.search_condition }}";
  const USER_ID = null;
  const LOCALE = "{{ g.locale }}";
  const STR_TRANSLATE = "{{ translations.translate }}";
  const URL_GIF_LOADING = "{{ url_for('static', filename='img/loading.gif') }}"
  const URL_API_GET_POSTS = "{{ url_for('api.posts') }}";
  const URL_API_TRANSLATE = "{{ url_for('api.translate') }}";
</script>
<script src="{{ url_for('static', filename='js/load_posts.js') }}"></script>
{% endblock scripts %}
