{% extends "layout.html" %} {% block content %}

<h2>Reset Password</h2>
<form action="" method="post" novalidate>
  {{form.hidden_tag()}}
  <div>
    {{ form.password.label}}<br />
    {{ form.password(size=30) }}<br />
    {% for error in form.password.errors %}
    <span class="error-message">[{{ error }}]</span>
    {% endfor %}
  </div>
  <div>
    {{ form.password_confirm.label}}<br />
    {{ form.password_confirm(size=30) }}<br />
    {% for error in form.password_confirm.errors %}
    <span class="error-message">[{{ error }}]</span>
    {% endfor %}
  </div>
  <div>{{ form.submit() }}</div>
</form>

{% endblock %}
