{% extends "layout.html" %} {% block content %}
<section class="mb-4">
  <div class="card p-3">
    {# Using card for a distinct block, p-3 for padding inside card #}
    <div class="d-flex align-items-start">
      {# Uses flexbox for avatar next to details, aligns items to top #} {# User
      Avatar #}
      <img
        src="{{ user.get_avatar_url(100) }}"
        alt="User Avatar"
        class="rounded-circle me-3"
        width="100"
        height="100"
      />
      <div class="flex-grow-1">
        {# Display Name #}
        <h2 class="mb-2">{{ user.get_display_name() }}</h2>
        {# User Bio #} {% if user.about_me %}
        <p class="text-muted small mb-2">{{ user.about_me }}</p>
        {% endif %} {# Last Seen #} {% if user.last_seen %}
        <p class="text-muted small mb-2" id="last-seen">
          {{ _("Last seen on: ") }}
        </p>
        {% endif %} {# Follower/Following Counts #}
        <p class="text-muted mb-3">
          {{ _("%(num_followers)s followers , %(num_following)s following",
          num_followers=user.count_followers(),
          num_following=user.count_following()) }}
        </p>

        {% if user == current_user %} {# Edit Profile Link #}
        <a
          href="{{ url_for('main.edit_profile') }}"
          class="btn btn-outline-primary btn-sm"
          >{{ _("Edit your profile") }}</a
        >
        {% else %} {# Follow/Unfollow Form #} {% with user_action = "follow" if
        not current_user.is_following(user) else "unfollow" %}
        <form
          action="{{ url_for('main.user_action', username=user.username, action=user_action) }}"
          method="post"
          novalidate
        >
          {{ form.hidden_tag() }} {{ form.submit(value=user_action, class="btn
          btn-outline-primary btn-sm") }}
        </form>
        {% endwith %} {% endif %}
      </div>
    </div>
  </div>
</section>

<section class="posts mb-5">
  <h4 class="mb-3">{{ _("Recent Posts") }}</h4>
  <div id="posts-list"></div>
  {% include "_pagination.html" %}
</section>
{% endblock content %} {% block scripts %}
<script>
  const PER_PAGE = "{{ fetch_data_info.per_page }}";
  const PAGINATION_TYPE = "{{ fetch_data_info.pagination_type }}";
  const SEARCH_CONDITION = "{{ fetch_data_info.search_condition }}";
  const USER_ID = "{{ user.id }}";
  const LOCALE = "{{ g.locale }}";
  const STR_TRANSLATE = "{{ translations.translate }}";
  const URL_GIF_LOADING = "{{ url_for('static', filename='img/loading.gif') }}";
  const URL_API_GET_POSTS = "{{ url_for('api.posts') }}";
  const URL_API_TRANSLATE = "{{ url_for('api.translate') }}";

  document.addEventListener("DOMContentLoaded", function () {
    // Handle last seen timestamp
    const lastSeenTimestamp = "{{ user.last_seen }}";
    const lastSeenElement = document.getElementById("last-seen");
    if (lastSeenElement) {
      lastSeenElement.textContent += `${new Date(
        lastSeenTimestamp
      ).toLocaleString()}`;
    }
  });
</script>
<script src="{{ url_for('static', filename='js/load_posts.js') }}"></script>
{% endblock scripts %}
